.item-content {
    height: calc(100% - 45px);

}

.item-center {
    top: 25%;
    bottom: 50%;
    left: 31%;
}

.item-top-center {
    left: 38%;
}

.item-top-right {
    top: 25%;
    right: 7%;
}

.item-bottom-right {
    top: auto;
    bottom: 16%;
    right: 20%;
}

.item-bottom-left {
    top: auto;
    bottom: 16%;
    left: 20%;
}

.item-top-left {
    top: 25%;
    left: 7%;
}

.svg-line {
    position: absolute;
}

.item-top-center .svg-line {
    transform: rotate(90deg);
    left: 4px;
}

.item-top-right .svg-line {
    transform: rotate(160deg);
    right: 50px;
    top: 56px;
}

.item-bottom-right .svg-line {
    transform: rotate(235deg);
    top: 4px;
    right: 35px;
}

.item-bottom-left .svg-line {
    transform: rotate(-55deg);
    left: 24px;
    top: -4px;
}

.item-top-left .svg-line {
    transform: rotate(10deg);
    top: 52px;
    left: 52px;
}